/*

   Final Project
   Author: James Owen
   Date:   November 17th, 2023

   Filename: homeStyles.css
   

*/
/* mobile */
@media only screen and (max-width: 480px) {
    /* welcome tag styles */
    div.welcomeTag {
        position: relative;
        top: -4em;
        margin-left: .25em;
        width: 14em;
        padding: 1em 0em;
        margin-bottom: 2em;
    }

    /* row-1 styles */

    div#row-1 > section {
        border: 3px double black;
        position: relative;
        width: 80%;
        margin: 2em auto;
        height: 30em;
    }

    div#row-1 {
        position: relative;
        top: -5em;
        z-index: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    div#row-1 > section > h1 {
        margin-bottom: .5em;
        width: 100%;
    }

    div#row-1 > section > a {
        position: absolute;
        top: 40em;
        color: white;
        text-decoration: none;
        padding: .5em;
        background: red;
        border-radius: 1.5em;
        font-size: 8pt;
    }

    div#row-1 > section > a:hover {
        background: rgb(38, 0, 0);
        animation: spin 2s linear;
    }

    /* row-2 styles */

    div#row-2 > section {
        width: 20em;
        margin-left: auto;
        margin-right: auto;
    }

    /* row-2 colums */

    div#row-2 > section#visionPoints > div {
        width: 95%;
        padding: .5em 2em;
    }
}

/* tablet */
@media only screen and (min-width: 481px) {
    /* welcome tag styles */
    div.welcomeTag {
        position: relative;
        top: -15em;
        margin-left: 2em;
        width: 20em;
        padding: 2em 0em;
        margin-bottom: 2em;
    }

    /* row-1 styles */

    div#row-1 > section {
        border: 3px double black;
        position: relative;
        width: 25em;
        margin: 2em auto;
        height: 25em;
    }

    div#row-1 {
        position: relative;
        top: -5em;
        z-index: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    div#row-1 > section > h1 {
        margin-bottom: .5em;
        width: 100%;
    }

    div#row-1 > section > a {
        position: absolute;
        top: 21em;
        color: white;
        text-decoration: none;
        padding: .5em;
        background: red;
        border-radius: 1.5em;
    }

    div#row-1 > section > a:hover {
        background: rgb(38, 0, 0);
        animation: spin 2s linear;
    }

    /* row-2 styles */

    div#row-2 > section {
        width: 30em;
        margin-left: auto;
        margin-right: auto;
    }

    /* row-2 colums */

    div#row-2 > section#visionPoints > div {
        width: 95%;
        padding: .5em 2em;
    }
}

/* desktop */
@media only screen and (min-width: 769px) {

    /* welcome tag styles */
    div.welcomeTag {
        position: relative;
        top: -26em;
        margin-left: 2em;
        width: 50em;
        padding: 2em 0em;
        margin-bottom: 2em;
    }

    /* row-1 styles */

    div#row-1 > section {
        border: 3px double black;
        position: relative;
        width: 25em;
        margin: 2em 2em;
        height: 25em;
    }

    div#row-1 {
        position: relative;
        top: -5em;
        z-index: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    div#row-1 > section > h1 {
        margin-bottom: .5em;
        width: 100%;
    }

    div#row-1 > section > a {
        position: absolute;
        top: 21em;
        color: white;
        text-decoration: none;
        padding: .5em;
        background: red;
        border-radius: 1.5em;
    }

    div#row-1 > section > a:hover {
        background: rgb(38, 0, 0);
        animation: spin 2s linear;
    }

    /* row-2 colums */

    div#row-2 > section#visionPoints > div {
        width: 50%;
        position: relative;
        float: left;
        padding: .5em 2em;
    }

    /* row-2 styles */

    div#row-2 > section {
        width: 45em;
        margin-left: auto;
        margin-right: auto;
    }

    /* cross reference link styles */
    nav > ul > li#crossRef {
        float: right;
    }
}

/* Section Styles */

section {
    background: rgb(151, 103, 103);
    padding: 2em 2em;
    display: block;
}

/* background video */
video#backgroundVideo {
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* welcome tag styles */
div.welcomeTag {
    text-align: center;
    background-color: rgb(145, 61, 61);
    border: 5px double black;
    box-shadow: 1em -.75em rgba(49, 0, 0, 0.7);
}

div.welcomeTag > button#pauseButton {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
}

div.welcomeTag > button#pauseButton:hover {
    background-color: white;
}


/* row-2 styles */

div#row-2 > section#mainVision {
    border: 3px double black;
    margin-top: 5em;
}
div#row-2 > section#mainVision > h2 {
    margin-bottom: .5em;
}

div#row-2 > section#mainVision p:first-of-type::first-letter {
    font-size: 2.5em;
    font-weight: bold;
    margin-right: .1em;
    line-height: 2;
    float: left;
    clear: left;
}

div#row-2 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background: rgb(218, 156, 156);
}

/* "a" styles hyperlink to other pages */
@keyframes spin {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(5deg);}
    100%{transform: rotate(5deg);}
}