/*

   Final Project
   Author: James Owen
   Date:   November 17th, 2023

   Filename: programStyles.css
   

*/

/* row styles */
div[class^="row-"] {
    display: block;
    background-color: rgb(151, 103, 103);
    width: 70%;
    margin: 2% 0% 2% 15%;
    border-radius: 1em;
    border: 3px double black;
}

div[class^="row-"] > dl {
    margin: 1em 1em;
}

div[class^="row-"] > dl > dt {
    margin-bottom: .5em;
}

div[class^="row-"] > dl > dd {
    font-size: 1.5em;
}